$primary-title: 'Times New Roman';
$body: sans-serif;
$card-title: 'Franklin Gothic Medium';
$card-text: Arial;
$midnight-blue: #006;
$red: #c00;
$white: #fff;
$gray: #808080;
$title-size: 2.5rem;
$primary-size: 1.563rem;
$yellow: #ffc800;
$green: #03fc66;
