@use '../base/variables' as *;

.shade {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.25rem;
  padding: 0 0.25rem;

  &.red {
    color: $red;
  }

  &.blue {
    color: $midnight-blue;
  }

  &.green {
    color: $green;
  }
}
